#contactPage {
    min-height: calc(100vh - 4rem);
    color: rgb(255, 255, 255);
    overflow: hidden;
    width: 100%;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.CaseImg {
    object-fit: cover;
    width: 70%;
    margin: auto;
    margin-bottom: 3rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
}

.caseTitle {
    font-size: 3rem;
    padding: 1rem;

}

#contact {
    min-height: calc(100vh - 4rem);
    color: rgb(255, 255, 255);
    overflow: hidden;
    width: 100%;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.contactTitle {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.contactDesc {
    font-weight: 400;
    font-size: 1rem;
    max-width: 51rem;
    padding: 0 2rem;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name,
.email,
.msg {
    font-size: meduim;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: rgb(6, 6, 6);
    border: none;
    border-radius: 0.5rem;
    background: white;
}


.submitBtn {
    background-color: rgb(149, 149, 150);
    border: none;
    padding: 0.75rem 3.5rem;
    border-radius: 0.5rem;
}

.link {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-top: 2rem;
    margin: 1rem;
    padding: auto;
}


/* Responsive font and image for smaller screens */
@media (max-width: 768px) {
    .caseTitle {
        font-size: 2rem;
    }

    .CaseImg {
        height: 200px;
    }
}

@media (max-width: 480px) {
    .caseTitle {
        font-size: 1.75rem;
    }

    .CaseImg {
        height: 150px;
    }
}