.navbar {
    background: rgb(248, 244, 244);
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    object-fit: cover;

}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
    color: rgb(93, 88, 88);
    font-size: 1.2rem;
}

.desktopMenuListItem:hover {
    color: rgb(93, 88, 88);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgb(93, 88, 88);
}

.desktopMenuBtn {
    background: rgb(93, 88, 88);
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    cursor: pointer;

}

.deskTopMenuImg {
    object-fit: cover;
    height: 1rem;

}

.active {
    color: rgb(105, 77, 77);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgb(105, 77, 77);

}

.mobMenu {
    display: none;
    object-fit: cover;
    height: 1.8rem;
}

.navMenu {
    position: absolute;
    top: 5rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background-color: rgb(163, 143, 143);
    border-radius: 1rem;
    /* rgb(143, 114, 114) */
    cursor: pointer;
}

.listItem {
    padding: 0.25rem 2rem;
    margin: 0.25rem;
    /* background: rgb(142, 121, 121); */
}

@media screen and (max-width:840px) {
    .mobMenu {
        display: flex;
    }

    .desktopMenu {
        display: none;
    }

    .desktopMenuBtn {
        display: none;
    }
}