.navbar {
    height: 5rem;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    object-fit: cover;

}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
    color: rgb(93, 88, 88);
    font-size: 1.2rem;
}

.desktopMenuListItem:hover {
    color: rgb(93, 88, 88);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgb(93, 88, 88);
}

.desktopMenuBtn {
    background: rgb(93, 88, 88);
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    cursor: pointer;

}

.deskTopMenuImg {
    object-fit: cover;
    height: 1rem;

}